# User and Group IDs
PUID=
PGID=

# Folder Locations on your Host
MC_DATA_DIR=
MC_BACKUP_DIR=

# Server Settings
MC_VERSION=
MC_MEMORY=
MC_WORLD_NAME=
PORTS=
WHITELIST=
ENFORCE_WHITELIST=
RCON_PORT=
RCON_PASSWORD=
ENABLE_RCON=